.menuSpace {
    display: flex;
    width: 100%;
    height: 162px;
    background-color: #e1fafa;
    margin: 0 0 20px 0;
    padding: 0;
    overflow: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.menuClosed {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.menuItem {
    display: flex;
    flex-direction: column;
    margin: auto 40px 0;
    position: relative;
    min-width: 251px;
}

.searchForm {
    display: flex;
    padding: 2px 4px 2px 2px;
    border: rgba(5, 240, 210, 0.45) 2px solid;
    border-radius: 10px;
    background-color: white;
}

.searchField {
    min-height: 50px;
    width: 420px;
    margin: 0;
    border: none;
    font-size: 1.5rem;
    padding: 0 8px;

}
.searchField:focus {
    outline: none;
}
.searchField::placeholder {
    color: #bbb;
}

.searchButton {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-image: url("../../../public/images/search.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
}

.searchButton:hover {
    cursor: pointer;
    transform: scale(0.9);
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.resetSearchButton_hidden {
    visibility: hidden;
}

.resetSearchButton {
    margin: auto;
    height: 30px;
    width: 30px;
    background-color: transparent;
    background-image: url("../../../public/images/close-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: transform 0.2s;
}

.resetSearchButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.filterMenu {
    display: flex;
    list-style: none;
    height: 100px;
    padding: 0;
    margin: auto;
    justify-content: space-between;
}

@media screen and (max-width: 1650px) {
    .menuSpace {
        max-height: 108px;
    }
    .filterMenu {
        height: 57px;
    }
}

@media screen and (max-width: 1150px) {
    .menuSpace {
        max-height: 72px;
    }
    .filterMenu {
        height: 30px;
    }
}