.logo {
    width: 120px;
    height: 100px;
    background-image: url("../../../public/images/ivinco.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto auto 60px;
}

.headerMenu {
    display: flex;
    list-style: none;
    height: 100px;
    padding: 0;
    margin: auto;
    justify-content: space-between;
}

.avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 60px 31px auto;
    border-radius: 50%;
    border: 3px solid slategrey;
    transition: transform 0.2s;
}

.avatar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.avatar_unknown {
    background-image: url("../../../public/images/avatar.svg");
}