.loadOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(224, 232, 247, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfoHeader {
    display: flex;
    height: 15%;
    margin: 30px;
    padding: 0 152px 15px 0;
    border-bottom: grey 1px solid;
}

.userInfoLogo {
    width: 120px;
    height: 100px;
    background-image: url("../../../public/images/ivinco.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0 auto 30px;
}

.userInfoTitle {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
}

.userInfoBody {
    display: flex;
    width: 100%;
}

.userEditButtonsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.userEditButton {
    width: 100%;
    padding: 3px 5px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.userEditButton:hover {
    transform: scale(1.1);
}

.userEditButtonActive {
    background-color: #0A9393;
}

.hiddenElement {
    visibility: hidden;
}

.userInfoAvatar {
    width: 150px;
    height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    border: #05F0D2 2px solid;
}

.userInfoInfoBlock {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 35%;
    width: 50%;
}

.userEditForm {
    font-size: 1.5rem;
    margin: 12px auto 0 25px;
    padding: 0;
}

.userInfoItem {
    font-size: 1.5rem;
    margin: 12px auto 0 25px;
    padding: 1px;
}

.resetPassBlock {
    display: flex;
}

.resetPassForm {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
}

.resetPassField {
    font-size: 1.5rem;
    margin: 12px auto 0 25px;
    text-align: center;
}

.resetPassField::placeholder {
    font-size: 1rem;
}

.logoutButton {
    width: 45%;
    margin: 60px auto;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: #0A9393;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.logoutButton:hover {
    transform: scale(1.1);
}