.header {
    display: flex;
    width: 100%;
    position: relative;

}
.logo {
    width: 120px;
    height: 43px;
    background-image: url("../../../public/images/ivinco.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 15px auto 45px;
}

.onDutyPortal {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 50px;
    background-color: white;
    border: darkgrey 2px solid;
    border-radius: 10px;
    margin: auto 0 0 30px;
    padding: 0 10px;
    font-size: 1.5rem;
}

.onDutyPortalActive {
    border: #01a2d8 2px solid;
}

.alertsCount {
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 108px;
    margin: auto auto 0;
    justify-content: center;
    align-items: center;
    color: #01a2d8;
}

.alertsNumber {
    display: flex;
    font-size: 2.2rem;
    margin: 0;
}

.alertsCountTitle {
    display: flex;
    font-size: 1rem;
    text-align: center;
    margin: 10px auto 0;
}


.headerButton {
    min-width: 135px;
    min-height: 50px;
    margin: auto;
    background-color: transparent;
    border: #01a2d8 2px solid;
    border-radius: 10px;
    font-size: 2rem;
    padding: 12px 15px;
    text-align: center;
}

.headerButtonEnabled {
    cursor: pointer;
    transition: transform 0.4s;
}

.headerButtonDisabled {
    border: darkgrey 2px solid;
    color: darkgrey;
}

.headerButtonEnabled:hover {
    transform: scale(1.2);
    border-color:  #01A2D8;
    color:  #01A2D8;
}

.funcButton {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: auto 30px 0 0;
    border: none;
    filter: grayscale(100%);
}

.funcButtonEnabled {
    cursor: pointer;
    transition: transform 0.2s;
    filter: none;
}
.funcButtonEnabled:hover {
    transform: scale(1.2);
}

.silenceButton {
    border: none;
    background-image: url("../../../public/images/mute-notification-color-svgrepo-com.svg");
}

.funcButton:focus{
    outline: none;
}

.inspectButton {
    border: none;
    border-radius: 7px;
    background-image: url("../../../public/images/resize-button.svg");
}



.refreshButton {
    border: none;
    background-image: url("../../../public/images/refresh-svgrepo-com.svg");
}

.filterButton {
    background-image: url("../../../public/images/filter-svgrepo-com.svg");
}

.avatar {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 45px 0;
    border-radius: 50%;
    border: 3px solid #01a2d8;
    transition: transform 0.2s;
    position: relative;
}
.avatar:hover {
    transform: scale(1.1);
    cursor: pointer;
}


@media screen and (max-width: 2150px) {
    .logo {
        width: 80px;
        margin-left: 30px;
    }

    .onDutyPortal {
        min-width: 160px;
        min-height: 34px;
        font-size: 1rem;
    }
    .avatar {
        width: 66px;
        height: 66px;
        margin: auto 30px 0 auto;
        border: 2px solid slategrey;
    }

    .navbar {
        margin: auto auto 20px auto;
        width: 35%;
    }

    .headerButton {
        font-size: 1.4rem;
        min-width: 90px;
        min-height: 33px;
        padding: 8px 10px;
    }

    .funcButton {
        width: 34px;
        height: 34px;
    }

    .alertsCount {
        width: 110px;
        height: 72px;
        margin: auto auto 0;
        padding: 18px;
        border-radius: 20px;

    }

    .alertsNumber {
        font-size: 2rem;
    }

    .alertsCountTitle {
        font-size: 0.9rem;
        margin: 6px auto 0;
    }

}

@media screen and (max-width: 1150px) {
    .logo {
        width: 53px;
        margin-left: 20px;
    }
    .onDutyPortal {
        min-width: 108px;
        min-height: 12px;
        font-size: 0.66rem;
    }
    .avatar {
        width: 44px;
        height: 44px;
        margin: auto 20px 0 auto;
        border: 1px solid slategrey;
    }

    .navbar {
        margin: auto auto 14px auto;
        width: 30%;
    }

    .headerButton {
        font-size: 0.5rem;
        min-width: 60px;
        min-height: 22px;
        padding: 5px 6px;
    }
    .funcButton {
        width: 22px;
        height: 22px;
    }

    .alertsCount {
        width: 73px;
        height: 48px;
        margin: 18px auto 0;
        padding: 12px;
        border-radius: 14px;

    }

    .alertsNumber {
        font-size: 1.6rem;
    }

    .alertsCountTitle {
        font-size: 0.5rem;
        margin: 4px auto 0;
    }

    .inspectButton {
        display: none;
    }
}