.groupSection {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

.groupBody {
    margin-bottom: 3px;
}

.groupBodyInspected {
    margin-bottom: 0;
    border: #8a8a8a solid 1px;
}

.groupBodyOpened {
    margin: auto;
    border-bottom: #8a8a8a solid 1px;
}

.alertsNumber {
    font-size: 1.5rem;
}

.alertBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.alertBlockHidden {
    display: none;
}


@media screen and (max-width: 2150px) {
    .alertsNumber {
        font-size: 1.2rem;
    }
    .alertBlock {
        margin-bottom: 10px;
    }

    .alertBlockHidden {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .alertsNumber {
        font-size: 1rem;
    }
    .alertBlock {
        margin-bottom: 7px;
    }

    .alertBlockHidden {
        display: none;
    }
}

