.groupSection {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

.groupBody {
    width: 99%;
    height: 99%;
    margin: 0 auto 6px;
    display: flex;
    border: #8a8a8a solid 3px;
    border-radius: 10px;
    cursor: pointer;
}

.groupBody_small {
    border: #8a8a8a solid 1px;
    margin: 0 auto 2px;
}

.projectName {
    height: 40px;
    width: 40px;
    font-size: 2rem;
    text-align: center;
    margin: auto 10px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
}

.projectName_small {
    height: 18px;
    width: 18px;
    font-size: 1rem;
    margin: auto 4px ;
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
}

.alertsNumber {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
    margin: auto 5px auto 0;
    font-size: 1.8rem;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}

.alertsNumber_small {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
    margin: auto 2px auto 0;
    font-size: 1.1rem;
    border-left: slategrey solid 1px;
    border-right: slategrey solid 1px;
}

.groupResponsibleUser {
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.groupResponsibleUser:hover {
    transform: scale(1.2);
}

.groupResponsibleUser_small {
    display: flex;
    width: 27px;
    height: 27px;
    margin: 6px;
    padding: 4px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.groupResponsibleUser_small:hover {
    transform: scale(1.2);
}

.groupAttribute {
    height: 100%;
    display: flex;
    width: 24%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 0 10px;
    font-size: 1.5rem;
    border-right: slategrey solid 3px;
}

.groupAttribute_small {
    height: 100%;
    display: flex;
    width: 24%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 0 4px;
    font-size: 1rem;
    border-right: slategrey solid 1px;
}
.description {
    display: flex;
    height: 100%;
    width: 56%;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 10px;
    border-left: slategrey solid 3px;

}

.description_small {
    display: flex;
    height: 100%;
    width: 52%;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 4px;
    font-size: 0.9rem;
    border-left: slategrey solid 1px;
}

.alertBlock {
    display: flex;
    flex-direction: column;
}

.alertBlockHidden {
    display: none;
}

.alertGroup {
    border-color: #01a2d8;
}

@media screen and (max-width: 1650px) {

    .groupBody {
        border: #8a8a8a solid 2px;
        border-radius: 7px;
    }

    .projectName {
        height: 27px;
        width: 27px;
        font-size: 1.4rem;
        margin: auto 6px;
    }

    .alertsNumber {
        margin: auto 3px auto 0;
        font-size: 1.2rem;
        border-left: slategrey solid 2px;
        border-right: slategrey solid 2px;
    }

    .groupResponsibleUser {
        width: 27px;
        height: 27px;
        padding: 6px;
    }

    .groupAttribute {
        padding: 0 6px;
        font-size: 1rem;
        border-right: slategrey solid 2px;
    }

    .description {
        font-size: 0.8rem;
        padding: 0 6px;
        border-left: slategrey solid 2px;

    }
}

@media screen and (max-width: 1150px) {

    .groupBody {
        border: #8a8a8a solid 1px;
        border-radius: 5px;
    }

    .projectName {
        height: 18px;
        width: 18px;
        font-size: 1rem;
        margin: auto 4px;
    }

    .alertsNumber {
        margin: auto 2px auto 0;
        font-size: 0.8rem;
        border-left: slategrey solid 1px;
        border-right: slategrey solid 1px;
    }

    .groupResponsibleUser {
        width: 18px;
        height: 16px;
        padding: 4px;
    }

    .groupAttribute {
        padding: 0 4px;
        font-size: 0.8rem;
        border-right: slategrey solid 1px;
    }

    .description {
        font-size: 0.6rem;
        padding: 0 4px;
        border-left: slategrey solid 1px;

    }
}

