.alertBody {
    width: 99%;
    height: 90%;
    display: flex;
    align-content: space-between;
    margin: auto;
    border: #8a8a8a solid 3px;
    border-radius: 10px;

}
.alertBody_small {
    width: 99%;
    height: 99%;
    display: flex;
    align-content: space-between;
    margin: auto;
    border: #3b3b3b solid 1px;
    border-radius: 10px;

}

.projectName {
    height: 40px;
    width: 40px;
    font-size: 2rem;
    text-align: center;
    margin: auto 10px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
}

.projectName_small {
    height: 12px;
    width: 12px;
    font-size: 0.7rem;
    margin: auto 6px;
    padding: 3px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
}

.host {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    margin: auto 5px;
    padding: 0 10px;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}

.host_small {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    margin: auto 3px;
    padding: 0 4px;
    justify-content: center;
    font-size: 0.7rem;
    border-left: slategrey solid 1px;
    border-right: slategrey solid 1px;
}

.responsibleUser {
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.responsibleUser:hover {
    transform: scale(1.2);
}

.responsibleUser_small {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 4px;
    padding: 2px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.responsibleUser_small:hover {
    transform: scale(1.2);
}

.alertName {
    height: 100%;
    display: flex;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 15px;
    padding: 0 10px;
    font-size: 1.5rem;
    overflow: hidden;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}

.textFields {
    overflow: hidden;
    text-overflow: ellipsis;
}

.alertName_small {
    height: 100%;
    display: flex;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 4px;
    padding: 0 4px;
    font-size: 0.7rem;
    border-left: slategrey solid 1px;
    border-right: slategrey solid 1px;
}

.alertTime {
    display: flex;
    height: 100%;
    width: 7%;
    margin: 0 15px;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2;
}

.alertTime_small {
    display: flex;
    height: 100%;
    width: 7%;
    margin: 0 6px;
    font-size: 0.7rem;
    line-height: 1;
    align-items: center;
    text-align: center;
}

.message {
    display: flex;
    height: 100%;
    width: 52%;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}

.message::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 10%;
    left: 66%;
    transform: translateX(-50%);
    max-width: 1200px;
    padding: 10px;
    background-color: #333333E5;
    color: #fff;
    border-radius: 5px;
    z-index: 10;
    white-space: pre-line;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.message:hover::after {
    visibility: visible;
    opacity: 1;
}


.message_small {
    display: flex;
    height: 100%;
    width: 52%;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 4px;
    border-left: slategrey solid 1px;
    border-right: slategrey solid 1px;
    font-size: 0.7rem;
}

.message_small::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 30%;
    left: 66%;
    transform: translateX(-50%);
    max-width: 600px;
    padding: 10px;
    background-color:  #333333E5;
    color: #fff;
    border-radius: 5px;
    z-index: 10;
    white-space: pre-line;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.message_small:hover::after {
    visibility: visible;
    opacity: 1;
}




.info {
    width: 60px;
    height: 60px;
    margin: auto 15px;
    background-image: url("../../../public/images/comment-dots.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
}

.info:hover {
    transform: scale(1.2);
}

.info_small {
    width: 23px;
    height: 23px;
    margin: auto 6px;
    background-image: url("../../../public/images/comment-dots.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
}

.info_small:hover {
    transform: scale(1.2);
}

.refresh {
    width: 60px;
    height: 60px;
    margin: auto 15px;
    background-image: url("../../../public/images/refresh-svgrepo-com.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
}

.refresh:hover {
    transform: scale(1.2);
}

.refresh_small {
    width: 23px;
    height: 23px;
    margin: auto 6px;
    background-image: url("../../../public/images/refresh-svgrepo-com.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
}

.refresh_small:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 2150px){
    .alertBody {
        margin: auto;
        border: #8a8a8a solid 2px;
    }

    .projectName {
        height: 21px;
        width: 21px;
        font-size: 1.4rem;
        margin: auto 6px;
        padding: 4px;
    }

    .host {
        margin: auto 3px;
        padding: 0 6px;
        font-size: 0.8rem;
        border-left: slategrey solid 2px;
        border-right: slategrey solid 2px;
    }

    .responsibleUser {
        width: 40px;
        height: 40px;
        padding: 6px;
    }

    .alertName {
        margin: auto 10px;
        padding: 0 6px;
        font-size: 1rem;
        border-left: slategrey solid 2px;
        border-right: slategrey solid 2px;
    }

    .alertTime {
        margin: 0 10px;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .message {
        padding: 0 6px;
        border-left: slategrey solid 2px;
        border-right: slategrey solid 2px;
        font-size: 0.8rem;
    }

    .refresh {
        width: 40px;
        height: 40px;
        margin: auto 10px;
    }

    .info {
        width: 40px;
        height: 40px;
        margin: auto 10px;
    }
}

@media screen and (max-width: 1150px){
    .alertBody {
        margin: auto;
    }

    .projectName {
        height: 18px;
        width: 18px;
        font-size: 1rem;
        margin: auto 4px;
        padding: 4px;
    }

    .host {
        margin: auto 2px;
        padding: 0 4px;
        font-size: 0.5rem;
        border-left: slategrey solid 1px;
        border-right: slategrey solid 1px;
    }

    .responsibleUser {
        width: 27px;
        height: 27px;
        margin: 6px;
        padding: 4px;
    }

    .alertName {
        margin: auto 6px;
        padding: 0 4px;
        font-size: 0.7rem;
        border-left: slategrey solid 1px;
        border-right: slategrey solid 1px;
    }

    .alertTime {
        margin: 0 6px;
        font-size: 0.6rem;
        line-height: 1;
    }

    .message {
        padding: 0 4px;
        border-left: slategrey solid 1px;
        border-right: slategrey solid 1px;
        font-size: 0.6rem;
    }

    .refresh {
        width: 26px;
        height: 26px;
        margin: auto 6px;
    }

    .info {
        width: 27px;
        height: 27px;
        margin: auto 6px;
    }
}
