.mainDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.groupWrapper {
    display: flex;
    width: 100%;
    margin: 10px auto
}

.groupWrapper_small {
    margin: 2px auto;
}