.mainDisplay {
    display: flex;
    flex-direction: column;
    width: 99%;
    overflow-y: scroll;
    padding-left: calc(1.5%);
    scrollbar-width: none;
}

.mainDisplay::-webkit-scrollbar {
    display: none;
}

.alertsHeader {
    width: 99%;
    height: 90%;
    display: flex;
    position: relative;
    align-content: space-between;
    margin: auto;
    border: #8a8a8a solid 3px;
    border-radius: 10px;
}

.projectHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin: auto 20px;
    font-size: 0.7rem;
}

.hostHeader {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    margin: auto 5px;
    padding: 0 10px;
    justify-content: center;
    text-align: center;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
    overflow: hidden;
}

.userHeader {
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.alertHeader {
    height: 100%;
    display: flex;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 6px;
    padding: 0 10px;
    font-size: 1.2rem;
    overflow: hidden;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}

.timeHeader {
    display: flex;
    height: 100%;
    width: 7%;
    margin: 0 15px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2;
}

.messageHeader {
    display: flex;
    height: 100%;
    width: 52%;
    align-items: center;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    border-left: slategrey solid 3px;
    border-right: slategrey solid 3px;
}



.dateField {
    display: flex;
    margin: 20px auto 20px 20px;
}

.submitDateButton {
    display: flex;
    width: 80px;
    margin-left: 30px;
    border: 1px #656B7A solid;
    border-radius: 10%;
    background-color: transparent;
    background-image: url("../../../public/images/search.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
}

.submitDateButton:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.groupWrapper {
    display: flex;
    width: 98%;
    margin: 0 auto 0 0;
}
.groupWrapper_small {
    margin: 0 auto 0 0;
}